<section data-ng-controller="ChallengesController" data-ng-init="findOne()">
    <span>{{challenge.created | date:'medium'}}</span>/
    <span>{{challenge.user.name}}</span>
    <h2>{{challenge.name}}</h2>
    <div data-ng-show="global.user._id == challenge.user._id">
        <a class="btn" href="/#!/challenges/{{challenge._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{challenge.facebookURL}}</div>
</section>